.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background: var(--color-medium);
}
.header-counter{
    margin: 0 var(--spacing-small) 0 auto;
    font-weight: bold;
    cursor: pointer;
}