:root{
    --color-light: #f8f9fa;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
}

$bg-color: #ffffff;
$color: #141414;
$font: 'Montserrat', sans-serif;
$fontw: 400;




